body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
}

h5 {
    font-size: 1.8vw;
}

.btn {
    margin: 8px;
    font-size: 1.8vw;
    border-radius: 10px;
}

.botoes {
    display: grid;
    width: 70%;
    margin: auto;
}

.foto1 {
    width: 40vw;
    opacity: 0.4;
}

.fundo-tela-codigo {
    width: 100%;
    height: 1010px;
    background-image: url('/Images/code1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

.sobre {
    height: 600px;
}

.texto-sobre {
    width: 30%;
}

.texto-sombra {
    animation: text-pop-up-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0) translateX(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        transform: translateY(-50px) translateX(0);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #888, 0 2px 0 #888, 0 3px 0 #888, 0 4px 0 #888, 0 5px 0 #888, 0 6px 0 #888, 0 7px 0 #888, 0 8px 0 #888, 0 25px 16px #888, 0 50px 30px rgba(0, 0, 0, 0.9);
    }
}


.portifolio-linha {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 70px;
}

.cards {
    width: 24vw;
    height: 24vw;
    border: 1px solid white;
    display: grid;
    text-align: center;
    border-radius: 20px;
}

.img-card {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.btn-card {
    font-size: 2.5vh;
}

.texto-fade-in {
    margin: 80px;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
        text-shadow: 0 1px 0 #888, 0 2px 0 #888, 0 3px 0 #888, 0 4px 0 #888, 0 5px 0 #888, 0 6px 0 #888, 0 7px 0 #888, 0 8px 0 #888, 0 15px 15px #888, 0 50px 30px rgba(0, 0, 0, 0.9);
    }
}

.fundo-techs {
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.icons-techs {
    width: 80px;
    margin: 10px;
}
.contact{
    display: flex;
    justify-content: center;
    /* align-items: end; */
}

.contact-icons {
    width: 30px;
    margin: 5px;
}

footer {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #888;
}

@media screen and (max-width:426px) {
    .box {
        border: 2px solid yellow;
        justify-content: center;
    }

    h1 {
        font-size: 7vh;
    }

    h2 {
        font-size: 5vh;
    }

    h5 {
        font-size: 3vh;
    }

    .botoes {
        width: 60%;
    }

    .btn {
        font-size: 2vh;
    }

    .foto1 {
        display: none;
    }

    .portifolio-linha {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .cards {
        width: 25vh;
        height: 31vh;
    }

    .btn-card {
        font-size: 2.5vw;
    }


}