body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
}

h5 {
    font-size: 1.8vw;
}

.btn {
    margin: 8px;
    font-size: 1.8vw;
    border-radius: 10px;
}

.botoes {
    display: grid;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.botao-link {
    padding: 7px 30px;
    margin: 10px;
    font-size: 2.8vh;
    border: 1px solid aqua;
    border-radius: 8px;
    text-align: center;
    color: aqua;
    background: transparent;
    position: relative;
}

.botao-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: aqua;
    border-radius: 8px;
    transition: all .8s ease;
}

.botao-link:hover:before {
    width: 100%;
}

.botao-link:hover {
    animation: color-text 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes color-text {
    0% {
        color: aqua;
    }

    100% {
        color: black;
    }
}

.foto1 {
    width: 40vw;
    opacity: 0.4;
}

.fundo-tela-codigo {
    width: 100%;
    height: 1010px;
    background-image: url('/Images/code1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

.sobre {
    height: 600px;
}

.texto-sobre {
    width: 30%;
}

.texto-sombra {
    animation: text-pop-up-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0) translateX(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        transform: translateY(-50px) translateX(0);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #888, 0 2px 0 #888, 0 3px 0 #888, 0 4px 0 #888, 0 5px 0 #888, 0 6px 0 #888, 0 7px 0 #888, 0 8px 0 #888, 0 25px 16px #888, 0 50px 30px rgba(0, 0, 0, 0.9);
    }
}


.portifolio-linha {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 70px;
}

.cartao {
    width: 22vw;
    height: 20vw;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    background-color: #111;
}
.img-card {
    width: 100%;
}

.btn-card {
    font-size: 1.2rem;
}

.bts{
    outline:none;
    box-shadow: 0 9px #444;
    border: 1px solid #999;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    transition: background-color 1s, color 1s;
}

.bts:active{
    box-shadow: 0 2px #444;
    transform: translateY(4px);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 10px 10px 10px #999;
    color: black;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flip {
    transform: rotateY(180deg);
}

.card-front {
    justify-content: center;
}

.card-back {
    background-color: aquamarine;
    transform: rotateY(180deg);
    padding: 20px;
    justify-content: space-around;
}

.texto-fade-in {
    margin: 80px;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
        text-shadow: 0 1px 0 #888, 0 2px 0 #888, 0 3px 0 #888, 0 4px 0 #888, 0 5px 0 #888, 0 6px 0 #888, 0 7px 0 #888, 0 8px 0 #888, 0 15px 15px #888, 0 50px 30px rgba(0, 0, 0, 0.9);
    }
}

.fundo-techs {
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.icons-techs {
    width: 80px;
    margin: 10px;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact-icons {
    width: 30px;
    margin: 0 5px 30px 5px;
    transition: all .5s;    
}

.contact-icons:hover{
    transform: scale(1.7);
}

footer {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #888;
}

@media screen and (max-width:426px) {
    .box {
        border: 2px solid yellow;
        justify-content: center;
    }

    h1 {
        font-size: 7vh;
    }

    h2 {
        font-size: 5vh;
    }

    h5 {
        font-size: 3vh;
    }

    .botoes {
        width: 60%;
    }

    .btn {
        font-size: 2vh;
    }

    .foto1 {
        display: none;
    }

    .portifolio-linha {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .cards {
        width: 25vh;
        height: 31vh;
    }

    .btn-card {
        font-size: 2.5vw;
    }


}